*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: georgia, serif;
    display: flex;
    background-color: lavenderblush;
    justify-content: center;
}

.reg{
    width: 520px;
    height: 480px;
    background: ghostwhite;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 70px 30px;
}

.reg{
    box-shadow: 0 0 11px rgba(33, 28, 44, 0.51);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;

}

.reg{
    
    font-weight: bold;
}

.reg input{
    width: 100%;
    margin-bottom: 20px;
}

.reg input[type="text"], input[type="password"]
{
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    outline: none;
    height: 30px;
    color: #000;
    font-size: 16px;
}

.reg input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: darkmagenta;
    color: #fff;
    font-size: 18px;
    font-family: georgia, serif;
    border-radius: 20px;
}

.reg input[type="submit"]:hover
{
    cursor: pointer;
    background: indianred;
    color: #000;
}

